html
  head
    style
      include style.css
    title EduAll
  body
    a(href = "/login") Login
    h1 Welcome to EduAll
    p Free online education platform
    p Not yet a member ? Sign up now !!!
    a(href = "/signup") Sign Up
