html
  head
    title Dashboard
  body
    h1 Welcome #{username}
    h2 Institue #{institute}
    h2 Subject #{subject}
    h2 Age #{age}
    a(href = '/') logout
    p Click here to download the course list 
    a(href='/courselist') here
    p Click here to add your course
    a(href = '/registerprof')  add
    p Clcik here to download the courses you are offering courses
    a(href = '/courses') offered courses
