html
  head
    title Dashboard
  body
    h1 Welcome #{username}
    h2 Institue #{institute}
    h2 Subject #{subject}
    h2 Age #{age}
    a(href = '/') logout
    p Click here to see the course list and to 
    a(href = '/registerstu/')  register
    p Clcik here to view your registered courses
    a(href = '/offcourses/') courses registered
    
      
